
:root {
  --c1: #77ccff;
  --c2: #33aadd;
  --c3: #003388;
}


* {
  margin: 0;
  padding: 0;
  font-family: Comic Sans MS;
}

body {
  background-color: var(--c2);
}

header{
  background-color: var(--c1);
  color: var(--c3);
  width: 100%;
  margin-bottom: 5%;
  min-height: 100px;
  align-content: center;
  padding-left: 2%;
  padding-right: 2%;
}

footer{
  background-color: var(--c1);
  min-height: 100px;
  margin-top: 5%;
  color: var(--c3);
  align-self: end;
  align-content: center;
  padding-left: 2%;
  padding-right: 2%;
}

.nn_space {
  padding: 5%;
  background-color: var(--c3);
  min-width: min-content;
}


.container {
  padding: 5%;
  align-items: center;
  justify-items: center;
}

.home-card{
  background-color: none;
  padding: 2%;
  border: 3px solid var(--c3);
  border-radius: 5%;
  box-shadow: -10px 5px var(--c3);
}

a, li {
  text-decoration: none;
}